body {

    background-color: lightblue;
    text-align: center;
}

h1 {

    font-size: xx-large;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: red;

}

.Calculate {

    background-color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: large;

}

.Calculate:hover {

    background-color: lightcoral;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

p {

    font-size: x-large;
    font-weight: bold;

}

#result {

    font-weight: bolder;
    font-size: larger;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: double;

}

label {

    font-size: larger;

}

@media (max-width: 600px) {

     .Buttons {

        display: grid;
        grid-template-columns: repeat(2, 120px);
        justify-content: center;
        gap: 5px;

     }

     .input-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

     }

     .Calculate {

        width: 120px;
        height: 60px;
        font-size: 18px;

    }

}

